.title-box {
    grid-column: span 4;
    grid-row: 1;
    background-color: #F1EBDD;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

h2 {
    text-align: left;    
    font-size: 2em;
    line-height: 1.5;
    flex-basis: 50%;
    padding-right: 20px;
}

.title-box strong {
    font-weight: bold;
}

.personal-photo {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.personal-photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: auto;
}

@media (max-width: 768px) {
    .title-box{
        flex-direction: column;
    }

    .title-box {
        grid-row: 1;
        padding: 15px;
    }

    .personal-photo img {
        max-width: 100%;
    }

}
