.filter-and-projects {
    display: column;
    grid-template-columns: 200px 1fr; /* Filter buttons on the left, projects on the right */
    gap: 20px;
    align-content: center;
  }
  
  .filter-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 20px;

    /* width: 40%; */
  }
  
  .filter-buttons button {
    padding: 0.75rem 1.5rem;
    border: none;
    background: #fdfaf2;
    color: #344C36;
    font-size: 0.7em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    text-transform: uppercase;
  }
  
  .filter-buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
    background: #e8e2d2;
  }
  
  .filter-buttons button.active {
    background: #344C36;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .projects-grid h2 {
    color: rgb(52, 76, 54);
    grid-column: span 4;
    text-align: center;
    font-size: 3em;
    font-weight: 20;
  }
  
  .project-card {
    background-color: #fdfaf2;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .project-image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .project-card h3 {
    font-size: 1.2em;
    color: #333;
    padding-bottom: 10px;
    margin: 0;
  }
  
  .project-link {
    text-decoration: none;
  }
  
  .project-link:hover h3 {
    color: #344C36;
  }
  
  .project-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    display: inline-block;
    padding: 5px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e8e2d2;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  
  @media (max-width: 768px) {
    .filter-and-projects {
      grid-template-columns: 1fr;
    }
  
    .filter-buttons {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  
    .projects-grid h2 {
      grid-column: span 1;
      font-size: 2em;
    }
  }