<app-header></app-header>
<main>
  <div class="grid-container">
    <!-- Hero Section -->
    <div class="title-box">
      <app-about></app-about>
    </div>

    <!-- About Section -->
    <div class="about-box">
      <app-hero></app-hero>

    </div>
    <!-- Contact Section -->
    <div class="contact-box">
      <app-contact></app-contact>
    </div>
    <!-- Social Media Links -->
    <div class="social-media-links">
      <app-footer></app-footer>
    </div>
    <!-- Projects Section -->
    <div class="project-list" id="project-list">
      <h2>Projects</h2>
      <app-projects></app-projects>
    </div>
  </div>
</main>